.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  gap: 0.5rem;
  align-items: center;
}
.left,
.right {
  display: flex;
  padding-right: 1rem;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: 0.15rem;
  font-size: 2rem;
  color: #b91c1c;
}
.left > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}
